* {
	margin: 0;
	padding: 0;
}

h1, form, ul, li{
	text-align: center;
	list-style-type: none;
	margin: 0;
	display: block;
}

.dndLinks{
	padding: 10px;
}

.dndImg{
	width: 196.6px;
	height: 252.3px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#dndImgCon{
	display: block;
    margin-left: auto;
    margin-right: auto
}